#logo{
	margin-right: 0;
	padding-left:0;
}
.header1{
	background-color: white;
	border: 1px solid black;
    box-shadow: 1px 1px 1px gray;
    }
#color-nav{
	background: white;
	text-decoration: none;
	font-size: 30px;
	color: silver;

}
/*a#color-nav:link {
  color: black;
}

a#color-nav:visited {
color: gray;
}*/

a#color-nav:hover {
  color: red;
  background-color: transparent;
  box-shadow: 1px 2px 1px #888888;
}

a#color-nav:active {
  color: transparent;
  background-color: gray;
}
